.layout{
    color: #F2889C !important;
    background-color: unset  !important;
    border:none  !important;
    font-family:Andika  !important;
    font-size: 25px  !important;
    width: 148px  !important;
    transition: transform 0.3s ease, color 0.3s ease  !important;
 }

 .layout2{
  color: #F2889C !important;
  background-color: unset  !important;
  border:none  !important;
  font-family:Andika  !important;
  font-size: 25px  !important;
  width: 185px  !important;
  transition: transform 0.3s ease, color 0.3s ease  !important;
}
 
 .roundButton{
   color: #232227;
   background-color: #F2889C;
   border: none;
   font-family: Andika;
   font-size: 25px;
   width: 36vw;
   margin-top: 0.6%;
   border-radius: 11px;
   transition: transform 0.4s ease, color 0.3s ease;
 }

 .layout:hover {
  color: #ffa8b4;
  transform: scale(1.1); /* Увеличение текста при наведении */
}

.roundButton:hover {
  color: #ffa8b4;
  background-color: #232227;
  transform: scale(1.1); /* Увеличение текста при наведении */
}