.svgStyle{
   width: 60px;
   margin: 5%;
   transition: transform 0.3s ease, color 0.3s ease;
}

.svgBlockStyle{
   display: flex;
   justify-content: flex-end;
   align-items: flex-start;
   margin-top: 1%;
}

.svgStyle:hover {
   transform: scale(1.1);
 }

 /* .svgStyle2 {
   filter: brightness(1.3) hue-rotate(180deg);
 } */
 
 .svgStyle2:hover {
   transition: transform 0.3s ease, color 0.3s ease;
   transform: scale(1.1);
   filter: brightness(1.3) hue-rotate(20deg);
   fill:aliceblue;
 }

 .MainimgStyle{
  width: 100%; 
 height: auto;  
 }

 .LineStyle{
   width: 100%;
 }

 .LineStyleBlock{
  position: relative;
  top: -7vw;
  width: 100%;
  margin: -1%;
  z-index: 3;
  height: 300px;
 }


 /* ------------------------------------------ */

 .svgStyle3 {
  width: 18vw;
  margin: 2vw;
}

.svgStyle3:hover {
  transition: transform 0.3s ease, color 0.3s ease;
  transform: scale(1.1);
  filter: brightness(1.3) hue-rotate(20deg);
  fill:aliceblue;
}

/* ---------------- */

.imgFon{
  width: 61%;
}