.bigText{
    color: #F2889C;
    font-family:'Andika';
    font-size: 3vw;
    font-weight: 500;
    margin: unset;
    line-height: 1
 }

 .smallText{
    color: #F2889C;
    font-family:'Andika';
    font-size: 25px;
    font-weight: 500;
    margin: unset;
    line-height: 1.7;
 }

 .smallTextBlack{
   color: #232227;
   font-family:'Andika';
   font-size: 25px;
   font-weight: 500;
   margin: unset;
   line-height: 1.7;
}

 .bigFatText{
   color: #F2889C;
   font-family:'Andika';
   font-size: 45px;
   font-weight: 700;
   margin: unset;
   line-height: 1
}

.articlText{
   color: #F2889C;
   font-family: 'Andika';
   font-size: 2vw;
   font-weight: 500;
   margin: 6vw;
   margin-top: 0vw;
   height: 100%;
   line-height: 3.3vw;
   text-align: justify;
}

.underlineText{
   font-family: 'Andika';
   font-style: normal;
   font-weight: 400;
   font-size: 25px;
   margin: 0px;
   margin-bottom: 2%;
   line-height: 40px;
   text-align: center;
   text-decoration-line: underline;
   color: #232227;
}

.underlineText:hover{
   text-decoration-line: none;
   transition: transform 0.3s ease, color 0.3s ease;
   transform: scale(1.1);
}

.verySmallText{
   color: #232227;
   font-family:'Andika';
   font-size: 20px;
   font-weight: 500;
   margin: unset;
   line-height: 1.7;
   margin-top: 1%;
}