.bigText{
    color: #F2889C;
    font-family:'Andika';
    font-size: 3vw;
    font-weight: 500;
    margin: unset;
    line-height: 1
 }

 .smallText{
    color: #F2889C;
    font-family:'Andika';
    font-size: 25px;
    font-weight: 500;
    margin: unset;
    line-height: 1.7;
 }

 .bigFatText{
   color: #F2889C;
   font-family:'Andika';
   font-size: 45px;
   font-weight: 700;
   margin: unset;
   line-height: 1
}

.articlText{
   color: #F2889C;
   font-family: 'Andika';
   font-size: 2vw;
   font-weight: 500;
   margin: 6vw;
   margin-top: 0vw;
   height: 100%;
   line-height: 3.3vw;
   text-align: justify;
}


