@media (max-width: 1050px) {
    .comonM p{
        font-size: 1.8vw;
    }
}

@media (max-width: 849px) {
    .comonM p{
        font-size: 2.8vw;
    }

    .LineStyle{
        width: 100%;
        height: 84%;
    }

    .marquee{
    top: -14vw;
    }

    .marquee2{
        top: -23.6vw;
        }

     .marquee3{
    top: -34vw;
    }
    
    .marquee4{
        top: -43.7vw
    }

    .LineStyleBlock{
        margin-bottom: -33vw;
    }
    
}